#library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.book-card h3 {
  margin-top: 0;
}
.book-card button {
  margin-top: 10px;
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.book-card button .toggle-read {
  background-color: #4caf50;
  color: white;
}
.book-card button .remove-book {
  background-color: #f44336;
  color: white;
}

/* Form styling */

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

form label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #333;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Add new book button */
#newBookBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#newBookBtn:hover {
  background-color: #45a049;
}

/* Overlay */
.hidden {
  display: none !important;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* close button */
#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}
